<%- include ('./partials/header') -%>

<div class="row">
    
    <div class="col-md-12" id="form">
    
        <form class="form-signin" action="/register" method="POST">
    
            <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

            <div class="form-group">
                <label for="inputUsername" id="inputUsername" >Username</label>    
                <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
            </div>
    
            <div class="form-group">
                <label for="inputPassword" id="inputPassword" >Password</label>    
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
            </div>

            <div class="form-group">
                <label for="firstName" id="firstName" >First Name</label>    
                <input type="text" id="firstName" class="form-control" name="firstName" placeholder="First Name" required autofocus>
            </div>

            <div class="form-group">
                <label for="lastName" id="lastName" >Last Name</label>    
                <input type="text" id="lastName" class="form-control" name="lastName" placeholder="Last Name" required autofocus>
            </div>

            <div class="form-group">
                <label for="email" id="email" >Email</label>    
                <input type="text" id="email" class="form-control" name="email" placeholder="Email" required autofocus>
            </div>


            <div class="form-group">
                <label for="avatar" id="avatar" >Avatar</label>    
                <input type="url" id="avatar" class="form-control" name="avatar" placeholder="Avatar" required autofocus>
            </div>

            <div class="form-group">
                <label for="secretCode" id="secretCode">Admin Code</label>
                <input type="text" id="secretCode" class="form-control" name="adminCode" placeholder="secretCode">
            </div>

            <button class="btn btn-lg btn-primary btn-block" id="button" type="submit">Sign up</button>

        </form>
    
        <div class="form-signin">
    
            <a href="/campgrounds">Go Back</a>
    
        </div>
    
    </div>
</div>

<%- include ('./partials/footer') -%>